<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>authFilter</filter-name>
        <filter-class>Servlets.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>Servlets.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addUserServlet</servlet-name>
        <servlet-class>Servlets.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addUserServlet</servlet-name>
        <url-pattern>/addUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteUserServlet</servlet-name>
        <servlet-class>Servlets.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUserServlet</servlet-name>
        <url-pattern>/deleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateUserServlet</servlet-name>
        <servlet-class>Servlets.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateUserServlet</servlet-name>
        <url-pattern>/updateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchUserServlet</servlet-name>
        <servlet-class>Servlets.SearchUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchUserServlet</servlet-name>
        <url-pattern>/searchUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>carServlet</servlet-name>
        <servlet-class>Servlets.CarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>carServlet</servlet-name>
        <url-pattern>/carServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addCarServlet</servlet-name>
        <servlet-class>Servlets.AddCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addCarServlet</servlet-name>
        <url-pattern>/addCarServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteCarServlet</servlet-name>
        <servlet-class>Servlets.DeleteCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteCarServlet</servlet-name>
        <url-pattern>/deleteCarServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateCarServlet</servlet-name>
        <servlet-class>Servlets.UpdateCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateCarServlet</servlet-name>
        <url-pattern>/updateCarServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchCarServlet</servlet-name>
        <servlet-class>Servlets.SearchCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchCarServlet</servlet-name>
        <url-pattern>/searchCarServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>carTypeServlet</servlet-name>
        <servlet-class>Servlets.CarTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>carTypeServlet</servlet-name>
        <url-pattern>/carTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addCarTypeServlet</servlet-name>
        <servlet-class>Servlets.AddCarTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addCarTypeServlet</servlet-name>
        <url-pattern>/addCarTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteCarTypeServlet</servlet-name>
        <servlet-class>Servlets.DeleteCarTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteCarTypeServlet</servlet-name>
        <url-pattern>/deleteCarTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateCarTypeServlet</servlet-name>
        <servlet-class>Servlets.UpdateCarTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateCarTypeServlet</servlet-name>
        <url-pattern>/updateCarTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchCarTypeServlet</servlet-name>
        <servlet-class>Servlets.SearchCarTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchCarTypeServlet</servlet-name>
        <url-pattern>/searchCarTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>Servlets.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addOrderServlet</servlet-name>
        <servlet-class>Servlets.AddOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addOrderServlet</servlet-name>
        <url-pattern>/addOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteOrderServlet</servlet-name>
        <servlet-class>Servlets.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrderServlet</servlet-name>
        <url-pattern>/deleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateOrderServlet</servlet-name>
        <servlet-class>Servlets.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateOrderServlet</servlet-name>
        <url-pattern>/updateOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchOrderServlet</servlet-name>
        <servlet-class>Servlets.SearchOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchOrderServlet</servlet-name>
        <url-pattern>/searchOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>shopServlet</servlet-name>
        <servlet-class>Servlets.ShopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shopServlet</servlet-name>
        <url-pattern>/shopServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addShopServlet</servlet-name>
        <servlet-class>Servlets.AddShopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addShopServlet</servlet-name>
        <url-pattern>/addShopServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteShopServlet</servlet-name>
        <servlet-class>Servlets.DeleteShopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteShopServlet</servlet-name>
        <url-pattern>/deleteShopServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateShopServlet</servlet-name>
        <servlet-class>Servlets.UpdateShopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateShopServlet</servlet-name>
        <url-pattern>/updateShopServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchShopServlet</servlet-name>
        <servlet-class>Servlets.SearchShopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchShopServlet</servlet-name>
        <url-pattern>/searchShopServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>bacServlet</servlet-name>
        <servlet-class>Servlets.BacServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bacServlet</servlet-name>
        <url-pattern>/bacServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addBacServlet</servlet-name>
        <servlet-class>Servlets.AddBacServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBacServlet</servlet-name>
        <url-pattern>/addBacServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteBacServlet</servlet-name>
        <servlet-class>Servlets.DeleteBacServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteBacServlet</servlet-name>
        <url-pattern>/deleteBacServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateBacServlet</servlet-name>
        <servlet-class>Servlets.UpdateBacServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateBacServlet</servlet-name>
        <url-pattern>/updateBacServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchBacServlet</servlet-name>
        <servlet-class>Servlets.SearchBacServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchBacServlet</servlet-name>
        <url-pattern>/searchBacServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>peccancyServlet</servlet-name>
        <servlet-class>Servlets.PeccancyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>peccancyServlet</servlet-name>
        <url-pattern>/peccancyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addPeccancyServlet</servlet-name>
        <servlet-class>Servlets.AddPeccancyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPeccancyServlet</servlet-name>
        <url-pattern>/addPeccancyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deletePeccancyServlet</servlet-name>
        <servlet-class>Servlets.DeletePeccancyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletePeccancyServlet</servlet-name>
        <url-pattern>/deletePeccancyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updatePeccancyServlet</servlet-name>
        <servlet-class>Servlets.UpdatePeccancyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatePeccancyServlet</servlet-name>
        <url-pattern>/updatePeccancyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchPeccancyServlet</servlet-name>
        <servlet-class>Servlets.SearchPeccancyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchPeccancyServlet</servlet-name>
        <url-pattern>/searchPeccancyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>accidentServlet</servlet-name>
    <servlet-class>Servlets.AccidentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accidentServlet</servlet-name>
        <url-pattern>/accidentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addAccidentServlet</servlet-name>
        <servlet-class>Servlets.AddAccidentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAccidentServlet</servlet-name>
        <url-pattern>/addAccidentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteAccidentServlet</servlet-name>
        <servlet-class>Servlets.DeleteAccidentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteAccidentServlet</servlet-name>
        <url-pattern>/deleteAccidentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateAccidentServlet</servlet-name>
        <servlet-class>Servlets.UpdateAccidentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateAccidentServlet</servlet-name>
        <url-pattern>/updateAccidentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchAccidentServlet</servlet-name>
        <servlet-class>Servlets.SearchAccidentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchAccidentServlet</servlet-name>
        <url-pattern>/searchAccidentServlet</url-pattern>
    </servlet-mapping>
</web-app>